*{
    margin: 0;
    border: 0;
    padding: 0;
}
.repo-card{
    transition: .3s;
    background-color: #ffffff;
}
.repo-card:hover{
    transition: .4s;
    background-color: #FAFAFA;
}
.repo-name{
    font-size: 2.5ch;
}
.repo-link:link{
}
