*{
    margin: 0;
    border: 0;
    padding: 0;
}
.repo-card{
    transition: .3s;
    background-color: #ffffff;
}
.repo-card:hover{
    transition: .4s;
    background-color: #FAFAFA;
}
.repo-name{
    font-size: 2.5ch;
}
.error-content{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: gray;
}
.error-icon{
    font-size: 15ch;
    margin-bottom: 20px;
}
.error-msg{
    font-size: 3ch;
    font-weight: 500;
}
